<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.paipianwang.pat.facade.finance.service.dao.impl.PmsFinanceDaoImpl">

	<!-- 表 -->
	<sql id="deal_log"> DEAL_LOG </sql>
	<sql id="indent_project"> INDENT_PROJECT </sql>
	<sql id="deal_log_view"> PROJECT_DEAL_LOG_VIEW </sql>
	
	<!-- where 条件 -->
	<sql id="search_condition">
		<if test="condition != null">
			<foreach collection="condition.keys" item="key" separator=" AND ">
				<if test="condition[key] != null and condition[key] != ''">
					${key} = #{condition[${key}]}
				</if>
			</foreach>
		</if>
	</sql>
	
	<resultMap type="PmsDealLog" id="PmsDealLogMap">
		<id column="dl_id" property="dealId" />
		<result column="dl_billNo" property="billNo" />
		<result column="dl_project_id" property="projectId" />
		<result column="dl_pay_price" property="payPrice" />
		<result column="dl_paytime" property="payTime" />
		<result column="dl_description" property="description" />
	</resultMap>
	
	<select id="listBy" resultType="PmsDealLog">
		SELECT 
			dl.DL_BILLNO AS billNo,
			dl.DL_DEAL_LOG_SOURCE AS dealLogSource,
			dl.DL_DEAL_STATUS AS dealStatus,
			dl.DL_DESCRIPTION AS description,
			dl.DL_ID AS dealId,
			dl.DL_LOG_TYPE AS logType,
			dl.DL_PAY_CHANNEL AS payChannel,
			dl.DL_PAY_PRICE AS payPrice,
			dl.DL_PROJECT_ID AS projectId,
			dl.DL_USER_ID AS userId,
			dl.DL_USER_TYPR AS userType,
			dl.DL_USER_NAME AS userName,
			dl.DL_UN_ORDERID  AS unOrderId,
			DATE_FORMAT(dl.DL_PAYTIME,'%Y-%m-%d %T') AS payTime
			FROM 
				<include refid="deal_log" /> dl 
			<where>
				dl.DL_PROJECT_ID = #{projectId}
			</where>
	</select>
	
	<select id="listPage" resultType="PmsDealLog">
		SELECT 
			BILLNO,
			CREATETIME,
			DEALLOGSOURCE,
			DEALSTATUS,
			DESCRIPTION,
			DEALID,
			LOGTYPE,
			PAYCHANNEL,
			PAYPRICE,
			PROJECTID,
			PROJECTNAME,
			UPDATETIME,
			USERID,
			USERTYPE,
			USERNAME,
			UNORDERID,
			PAYTIME
		FROM 
			<include refid="deal_log_view" /> dlv
		<where>
			dlv.DEALSTATUS = 1
			<if test="logType != null">
				AND dlv.LOGTYPE = ${logType}
			</if>
			
			<if test="dealLogSource != null">
				AND dlv.DEALLOGSOURCE = ${dealLogSource}
			</if>
			
			<if test="beginTime != null and beginTime != '' ">
				AND DATE_FORMAT(dlv.PAYTIME,'%Y-%m-%d') &gt;= #{beginTime}
			</if>
			
			<if test="endTime != null  and endTime != ''">
				AND DATE_FORMAT(dlv.PAYTIME,'%Y-%m-%d') &lt;= #{endTime}
			</if>
			<if test="projectName != null  and projectName != ''">
				AND dlv.PROJECTNAME LIKE CONCAT('%',#{projectName},'%')
			</if>
		</where>
			ORDER BY
			<if test="sort != null and sort != '' and order != null and order != ''">
				 ${sort} ${order},
			</if>
			dlv.PAYTIME DESC
			LIMIT ${begin} , ${limit}
	</select>
	
	<select id="listPageCount" resultType="Long">
		SELECT 
			count(1)
		FROM 
		<include refid="deal_log_view" /> dlv
		<where>
			dlv.DEALSTATUS = 1
			<if test="logType != null">
				AND dlv.LOGTYPE = ${logType}
			</if>
			
			<if test="dealLogSource != null">
				AND dlv.DEALLOGSOURCE = ${dealLogSource}
			</if>
			<if test="projectName != null  and projectName != ''">
				AND dlv.PROJECTNAME LIKE CONCAT('%',#{projectName},'%')
			</if>
		</where>
	</select>
	
	<!-- <select id="listPage" resultType="PmsDealLog">
		SELECT 
			dl.DL_BILLNO AS billNo,
			DATE_FORMAT(dl.DL_CREATETIME,'%Y-%m-%d %T') AS createTime,
			dl.DL_DEAL_LOG_SOURCE AS dealLogSource,
			dl.DL_DEAL_STATUS AS dealStatus,
			dl.DL_DESCRIPTION AS description,
			dl.DL_ID AS dealId,
			dl.DL_LOG_TYPE AS logType,
			dl.DL_PAY_CHANNEL AS payChannel,
			dl.DL_PAY_PRICE AS payPrice,
			dl.DL_PROJECT_ID AS projectId,
			ip.IP_PROJECT_NAME AS projectName,
			DATE_FORMAT(dl.DL_UPDATETIME,'%Y-%m-%d %T') AS updateTime,
			dl.DL_USER_ID AS userId,
			dl.DL_USER_TYPR AS userType,
			dl.DL_USER_NAME AS userName,
			dl.DL_UN_ORDERID  AS unOrderId,
			DATE_FORMAT(dl.DL_PAYTIME,'%Y-%m-%d %T') AS payTime
			FROM 
			<include refid="deal_log" /> dl 
			INNER JOIN
			<include refid="indent_project" /> ip 
			ON dl.DL_PROJECT_ID = ip.IP_ID
			<where>
				dl.DL_DEAL_STATUS = 1
				<if test="logType != null">
					AND dl.DL_LOG_TYPE = ${logType}
				</if>
				
				<if test="dealLogSource != null">
					AND dl.DL_DEAL_LOG_SOURCE = ${dealLogSource}
				</if>
				
				<if test="beginTime != null and beginTime != '' ">
					AND DATE_FORMAT(dl.DL_PAYTIME,'%Y-%m-%d') &gt;= #{beginTime}
				</if>
				
				<if test="endTime != null  and endTime != ''">
					AND DATE_FORMAT(dl.DL_PAYTIME,'%Y-%m-%d') &lt;= #{endTime}
				</if>
				<if test="projectName != null  and projectName != ''">
					AND ip.IP_PROJECT_NAME 	LIKE CONCAT('%',#{projectName},'%')
				</if>
			</where>
			ORDER BY
			<if test="sort != null and sort != '' and order != null and order != ''">
				 ${sort} ${order},
			</if>
			dl.DL_PAYTIME DESC
			LIMIT ${begin} , ${limit}
	</select>
	
	<select id="listPageCount" resultType="Long">
		SELECT 
			count(1)
		FROM 
		<include refid="deal_log" /> dl
		INNER JOIN
			<include refid="indent_project" /> ip 
			ON dl.DL_PROJECT_ID = ip.IP_ID
		<where>
			dl.DL_DEAL_STATUS = 1
			<if test="logType != null">
				AND dl.DL_LOG_TYPE = ${logType}
			</if>
			
			<if test="dealLogSource != null">
				AND dl.DL_DEAL_LOG_SOURCE = ${dealLogSource}
			</if>
			<if test="projectName != null  and projectName != ''">
				AND ip.IP_PROJECT_NAME 	LIKE CONCAT('%',#{projectName},'%')
			</if>
		</where>
	</select> -->
	
	<select id="listByMap" parameterType="java.util.Map" resultType="java.util.HashMap">
		SELECT 	
			<foreach collection="metaData.keys" item="key" separator=",">
					${key}
			</foreach>
		FROM <include refid="deal_log" />
		<where>
			<include refid="search_condition" />
		</where>
	</select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="dealId"
		parameterType="PmsDealLog">
		INSERT INTO 
		<include refid="deal_log" /> 
		(	DL_BILLNO,
			DL_UN_ORDERID,
			DL_DEAL_STATUS,
			DL_USER_TYPR,
			DL_USER_ID,
			DL_USER_NAME,
			DL_DEAL_LOG_SOURCE,
			DL_LOG_TYPE,
			DL_PROJECT_NAME,
			DL_PROJECT_ID,
			DL_PAY_PRICE,
			DL_DESCRIPTION,
			<if test="payChannel != null and payChannel != ''">
				DL_PAY_CHANNEL,
			</if>
			DL_PAYTIME
		) 
		VALUES
		(	#{billNo},
			#{unOrderId},
			${dealStatus},
			#{userType},
			${userId},
			#{userName},
			${dealLogSource},
			${logType},
			#{projectName},
			#{projectId},
			${payPrice},
			#{description},
			<if test="payChannel != null and payChannel != ''">
				#{payChannel},
			</if>
			#{payTime}
		)
	</insert>
	<update id="update" >
		UPDATE 
		<include refid="deal_log" />  
		<set>
			DL_UN_ORDERID = #{unOrderId},
			DL_DEAL_STATUS = ${dealStatus},
			DL_USER_TYPR = #{userType},
			DL_USER_ID = ${userId},
			DL_USER_NAME = #{userName},
			DL_DEAL_LOG_SOURCE = ${dealLogSource},
			DL_LOG_TYPE = ${logType},
			DL_PROJECT_NAME = #{projectName},
			DL_PROJECT_ID = #{projectId},
			DL_PAY_PRICE = ${payPrice},
			DL_DESCRIPTION = #{description},
			DL_PAYTIME = DATE_FORMAT(#{payTime},'%Y-%m-%d %T'),
			DL_UPDATETIME = CURRENT_TIMESTAMP 
		</set>
		<where>
			DL_ID = ${dealId}
		</where>
	</update>
	
	<delete id="deleteByArray">
		DELETE FROM 
		<include refid="deal_log" /> 
		<where>
			DL_ID = -1
			<if test="array != null and array != ''">
				OR DL_ID IN
				<foreach collection="array" open="(" close=")" item="item"
					separator=",">
					#{item}
				</foreach>
			</if>
		</where> 
	</delete>
	
	<select id="listByProjectId" resultType="PmsDealLog">
		SELECT 
			dl.DL_BILLNO AS billNo,
			DATE_FORMAT(dl.DL_CREATETIME,'%Y-%m-%d %T') AS createTime,
			dl.DL_DEAL_LOG_SOURCE AS dealLogSource,
			dl.DL_DEAL_STATUS AS dealStatus,
			dl.DL_DESCRIPTION AS description,
			dl.DL_ID AS dealId,
			dl.DL_LOG_TYPE AS logType,
			dl.DL_PAY_CHANNEL AS payChannel,
			dl.DL_PAY_PRICE AS payPrice,
			dl.DL_PROJECT_ID AS projectId,
			DATE_FORMAT(dl.DL_UPDATETIME,'%Y-%m-%d %T') AS updateTime,
			dl.DL_USER_ID AS userId,
			dl.DL_USER_TYPR AS userType,
			dl.DL_USER_NAME AS userName,
			dl.DL_UN_ORDERID  AS unOrderId,
			DATE_FORMAT(dl.DL_PAYTIME,'%Y-%m-%d %T') AS payTime
			FROM 
			<include refid="deal_log" /> dl 
			<where>
			dl.DL_PROJECT_ID=#{projectId}
			</where>
	</select>
</mapper>